<app-header></app-header><br>
<div class="container">
  <app-jumbo-inicio></app-jumbo-inicio>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.
      It's built with default Bootstrap components and utilities with little customization.</p>
  </div>
  <app-cards-precio [valorCardA]="0" [valorCardB]="29.99" [valorCardC]="45.99"></app-cards-precio>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
